[Author]        := Albert van Rensburg
[AppTitle]      := StudMaster for Beef Cattle
[Copyright]     := Agricultural Data Control cc
[MakeFile]      := BLINKER.RMK
[ExecFile]      := SM3.EXE
[LIBR]          := VARIOUS
[CursorPos]     := {Entry}
[DocWriter]     := Albert van Rensburg
[Designer]      := Albert van Rensburg
[Tester]        := Albert van Rensburg

[Include Header]
* ÚÄ Clipper Header ÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
* ³    File Name: {File}                                                     ³
* ³  Description: {Entry}                                                    ³
* ³       Author: {Author}                                                   ³
* ³ Date created: {DateCreated}         Date updated: {DateUpdated}          ³
* ³ Time created: {TimeCreated}         Time updated: {TimeUpdated}          ³
* ³    Copyright: {Yr} by {Copyright}                                        ³
* ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[Program Header]
// Application: {AppTitle}
//   File Name: {File}
// Description: {Entry}
//   Copyright: (c) {Yr} by {Copyright}
//      Author: {Author}
//  Created on: {DateCreated} {TimeCreated}

#include "inkey.ch"
#include "albert.ch"
#include "set.ch"

/******************************************************************************/
FUNCTION

   // Declare
   local lRetu := .t.
   local aCscr := fASaveScr()
   local aCdbf := fATopen()
   begin sequence



   end

   // Reset
   fATclose(aCdbf)
   fARestScr(aCscr)

return lRetu

[Procedure Header]
* ÚÄ Procedure ÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
* ³         Name: {ModuleName}                                               ³
* ³  Description: {Entry}                                                    ³
* ³       Author: {Author}              Designer: {Designer}                 ³
* ³ Date created: {DateCreated}         Date updated: {DateUpdated}          ³
* ³ Time created: {TimeCreated}         Time updated: {TimeUpdated}          ³
* ³    Copyright: {Copyright}                                                ³
* ÃÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ´
* ³   Parameters: {Argument}                                                 ³
* ³     See Also: {Field}                                                    ³
* ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[Function Header]
/******************************************************************************/

[Class Header]
* ÚÄ Class ÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
* ³         Name: {ModuleName}                                               ³
* ³  Description: {Entry}                                                    ³
* ³       Author: {Author}                                                   ³
* ³ Date created: {DateCreated}         Date updated: {DateUpdated}          ³
* ³ Time created: {TimeCreated}         Time updated: {TimeUpdated}          ³
* ³    Copyright: {Copyright}                                                ³
* ÃÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ´
* ³ Parent class: {SuperClass}                                               ³
* ³     See Also: {Field}                                                    ³
* ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[Constructor Header]
* ÚÄ Constructor ÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
* ³         Name: {ModuleName}                                               ³
* ³  Description: {Entry}                                                    ³
* ³       Author: {Author}                                                   ³
* ³ Date created: {DateCreated}         Date updated: {DateUpdated}          ³
* ³ Time created: {TimeCreated}         Time updated: {TimeUpdated}          ³
* ³    Copyright: {Copyright}                                                ³
* ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[Method Header]
/*ÚÄ Method ÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
  ³         Name: {ModuleName}                                               ³
  ³  Description: {Entry}                                                    ³
  ³       Author: {Author}                                                   ³
  ³ Date created: {DateCreated}         Date updated: {DateUpdated}          ³
  ³ Time created: {TimeCreated}         Time updated: {TimeUpdated}          ³
  ³    Copyright: {Copyright}                                                ³
  ÃÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ´
  ³    Arguments: {Argument}                                                 ³
  ³ Return Value: {ReturnValue}                                              ³
  ³     See Also: {Field}                                                    ³
  ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ
*/

[Multiple Argument Line]
//             : {Argument}

[Print Format]
{h}
{h} := ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
{h} := ³ Application: {AppTitle}                                         Page: {Page} ³
{h} := ³ Source File: {File}          Print Date: {DateCreated}                       ³
{h} := ÃÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ´
{h} := ³Line#   Source                                                                ³
{h} := ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ
{h}
{b} := {Ln#}  - {Source}
{f}
{f} := ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
{f} := ³ Author: {Author}               Copyright: {Copyright}                        ³
{f} := ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ

[eof]
